.perigo{
    color: red;
}
.alerta{
    color: orangered;
}
.cuidado {
    color: orange;
}
.ideal {
    color: green;
}
.moderado {
    color: greenyellow;
}
body{
        text-align: center;
        width: auto;
}
h2{
        text-decoration: underline;
}